---
title: Tomato Punk
layout: layouts/home.njk
description: 番茄朋克，一个中国软件开发工程师的自娱自乐
date: Last Modified
---

<div>
  <h2>Translating!</h2>
  <ul>
      <li>maoni <a
              href="https://murph.site/%E8%AF%8A%E6%96%AD%E6%80%A7%E8%83%BD%E9%97%AE%E9%A2%98%E7%9A%84%E5%B7%A5%E4%BD%9C%E6%B5%81%E7%A8%8B-part-0/">《诊断性能问题的工作流程》0</a>
          翻译中。</li>
      <li>maoni <a
              href="https://murph.site/%E8%AF%8A%E6%96%AD%E6%80%A7%E8%83%BD%E9%97%AE%E9%A2%98%E7%9A%84%E5%B7%A5%E4%BD%9C%E6%B5%81%E7%A8%8B-part-1/">《诊断性能问题的工作流程》1</a>
          校对中。</li>
      <li>maoni <a
              href="https://murph.site/%E8%AF%8A%E6%96%AD%E6%80%A7%E8%83%BD%E9%97%AE%E9%A2%98%E7%9A%84%E5%B7%A5%E4%BD%9C%E6%B5%81%E7%A8%8B-part-2/">《诊断性能问题的工作流程》2</a>
          翻译中。</li>
  </ul>
</div>


<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>